@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container body-container">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-8">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="card-body p-md-5 mx-md-4">

                            <form asp-action="ResetPassword" asp-controller="Admin" autocomplete="off" id="ResetPassword" method="post">

                                <div class="row">
                                    <div class="col mb-4">
                                        <label class="form-label" for="Phone">Телефон</label>
                                        <div class="input-group">
                                            <input class="form-control shadow-none" type="tel" id="Phone" name="Phone" value="" inputmode="text">
                                            <button class="btn btn-outline-primary d-none shadow-none" type="button" id="Btn_PhoneNumber">Отправить код</button>
                                            <button class="btn btn-outline-primary d-none shadow-none" type="button" id="Btn_PhoneNumber_change">Изменить номер</button>
                                        </div>
                                        <span class="text-danger field-validation-valid" id="PhoneValidationSpan" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                                        <span class="text-danger field-validation-valid" data-valmsg-for="IsPoneConfirmed" data-valmsg-replace="true"></span>
                                    </div>

                                    <div class="col-md-4 mb-4 d-none" id="ConfimCodeDiv">
                                        <label class="form-label" for="ConfirmPhoneCode">Введите код</label>
                                        <div class="input-group">
                                            <input class="form-control shadow-none" data-inputmask="'mask': '99999'" id="Input_PhoneNumberCode" type="text" name="ConfirmPhoneCode" value="" inputmode="text">
                                            <input hidden="" id="Input_PhoneNumberCode_Result" type="number" data-val="true" data-val-range="Подтвердите телефон" data-val-range-max="1" data-val-range-min="1" data-val-required="Подтвердите телефон" name="IsPoneConfirmed" value="">
                                            <button class="btn btn-outline-primary shadow-none" type="button" id="Btn_PhoneNumberCode">Подвердить</button>
                                        </div>
                                        <span class="text-danger field-validation-valid" id="PhoneCodeValidationSpan" data-valmsg-for="ConfirmPhoneCode" data-valmsg-replace="true"></span>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="Password">Пароль</label>
                                            <input class="form-control shadow-none" autocomplete="new-password" type="password" data-val="true" data-val-length="Пароль должен быть не менее 8 и не более 100 символов." data-val-length-max="100" data-val-length-min="8" data-val-required="Заполните поле" id="Password" maxlength="100" name="Password">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline form-white">
                                            <label class="form-label" for="ConfirmPassword">Подтверждение пароля</label>
                                            <input class="form-control shadow-none" autocomplete="new-password" type="password" data-val="true" data-val-equalto="Пароль и подтверждение пароля не совпадает." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="d-flex justify-content-left">
                                    <button type="submit" class="btn-wt-md btn-orange" id="SubmitBtn">Востановить пароль</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Вспомнили пароль? <a asp-action="Login" asp-controller="Admin">Войти</a>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>