<div class="container contacts-wrapper my-5 py-5">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="kont-left" style="color:#000;">
                <p>
                    <strong>Телефон:</strong><br>
                    <a href="tel:+78612176167" style="color: black;">
                        <span>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <span>+7 (861) 217-61-67</span>
                    </a><br>
                    <a href="tel:+79996309009" style="color: black;">
                        <span>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <span>+7 (999) 630-90-09</span>
                    </a>

                </p><p>
                    <strong>Время работы:</strong><br>
                    с 10:00 до 18:00 (Пн-Пт)

                </p><p>
                    <strong>Telegram:</strong><br>
                    <a style="color: black;" href="tg://resolve?domain=Vitopro">
                        <span><i class="fa fa-telegram" aria-hidden="true"></i></span>
                        <span>+7 (999) 630-90-09</span>
                    </a>

                </p><p>
                    <strong>WhatsApp:</strong><br>
                    <a style="color: black;" href="https://wa.me/79996309009">
                        <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
                        <span>+7 (999) 630-90-09</span>
                    </a>

                </p><p>
                    <strong>Email:</strong><br>
                    <a style="color: black;" href="mailto:inbox@algoritm.dev">
                        <span>
                            <i class="fa fa-envelope-o"></i>
                        </span>
                        <span>inbox@algoritm.dev - общий</span>
                    </a> <br>
                    <a style="color: black;" href="mailto:support@algoritm.dev">
                        <span>
                            <i class="fa fa-envelope-o"></i>
                        </span>
                        <span>support@algoritm.dev - техподдержка</span>
                    </a> <br>
                    <a style="color: black;" href="mailto:buh@algoritm.dev">
                        <span>
                            <i class="fa fa-envelope-o"></i>
                        </span>
                        <span>buh@algoritm.dev - бухгалтерия</span>
                    </a>
                </p>


                <p>
                    <strong>Адрес:</strong><br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> г. Краснодар, ул. Гагарина, д. 112, оф. 406<br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> г. Ульяновск, ул. Врача Михайлова, д. 51, оф. 320
                </p>

                <p>
                    <strong>Реквизиты компании:</strong><br>
                    ООО «Алгоритм» Юридический адрес: 432064, Россия, г. Ульяновск, ул. Врача Михайлова, д. 51, оф 320. ИНН/ОГРН  7328093175/1177325006132
                </p>


            </div>
        </div>
        <div class="col-md-8 col-12 d-flex align-items-center px-md-5">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1d94e06b9af4ab929e7c47beabf1f426fb78db288575412199d1872cc9062cbd&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
        </div>
    </div>
</div>

@section Scripts {
<script src="https://kit.fontawesome.com/4a4d023532.js" crossorigin="anonymous"></script>
    }
