@{
    ViewData["Title"] = "О нас";
}
<div class="header p-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head-bg-text text-center m-5">
                    <p>Алгоритм</p>
                    <p>
                        Российский разработчик и интегратор
                    </p>
                </div>
            </div>
        </div>
        <div class="row my-5">
                <div class="col-md-3 col-xs-12 head-bg-ico1">Программно-технических комплексов мониторинга</div>
                <div class="col-md-3 col-xs-12 head-bg-ico2">Систем и комплексов сопряжения</div>
                <div class="col-md-3 col-xs-12 head-bg-ico3">Систем контроля и анализа</div>
                <div class="col-md-3 col-xs-12 head-bg-ico4">Оборудования КИП и автоматизации</div>
        </div>
        <div class="row my-5">
                <div class="col-md-12">
                    <button class="btn btn-orange btn-wt-lg">Подробнее об услугах</button>
                </div>
        </div>
    </div>
</div>
