@{
    //ViewData["Title"] = "О нас";
}
<div class="header p-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="head-bg-text text-center m-md-5">
                    <p>Алгоритм</p>
                    <p>
                        Российский разработчик и интегратор
                    </p>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-md-3 col-xs-12 head-bg-ico1 my-2">Программно-технических комплексов мониторинга</div>
            <div class="col-md-3 col-xs-12 head-bg-ico2 my-2">Систем и комплексов сопряжения</div>
            <div class="col-md-3 col-xs-12 head-bg-ico3 my-2">Систем контроля и анализа</div>
            <div class="col-md-3 col-xs-12 head-bg-ico4 my-2">Оборудования КИП и автоматизации</div>
        </div>
        <div class="row my-5">
            <div class="col-md-12">
                <a class="btn-orange btn-wt-lg" asp-controller="Services" asp-action="Index">Подробнее об услугах</a>
            </div>
        </div>
    </div>
</div>
<div class="about p-5">
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center">
                <div class="main-text-wrp">
                    <h3>О нас</h3>
                    <p>
                        Наша компания является Российским разработчиком оборудования и системным интегратором технических решений на объектах жизнеобеспечения, производственных, потенциально опасных и технически сложных!<br>
                        Мы специализируемся в направлениях индивидуально ориентированной разработки систем автоматизации, диспетчеризации и мониторинга.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center">
                <div class="main-img"><img src="/img/icn_main_03.png" alt=""></div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center order-md-first order-last">
                <div class="main-img"><img src="/img/icn_main_01.png" alt=""></div>
            </div>
            <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center order-md-last order-first">
                <div class="main-text-wrp">
                    <div class="main-text black">
                        <h3>Квалифицированный штат специалистов</h3>
                        <p>В нашей компании работают высоко квалифицированные специалисты различных направлений. Наш коллектив всегда стремится к достижению новых высот в области разработки и внедрения технических решений, при этом мы всегда делаем ставку на качество. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-6 col-xs-12 d-flex justify-content-md-start align-items-center">
                <div class="main-text black">
                    <h3>Индивидуально — ориентированная разработка и интеграция</h3>
                    <p>Стандартными решениями трудно кого то удивить, современные бизнес процессы нуждаются в индивидуальности. В работе мы всегда стараемся детально раскрыть потребности и реализовать максимально подходящее решение.</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center">
                <div class="main-img"><img src="/img/icn_main_02.png" alt=""></div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center order-md-first order-last">
                <div class="main-img"><img src="/img/icn_main_04.png" alt=""></div>
            </div>
            <div class="col-md-6 col-xs-12 d-flex justify-content-center align-items-center order-md-last order-first">
                <div class="main-right">
                    <h3>Анализ и оцифровка данных</h3>
                    <div class="main-right-ico-wrp m-4 d-flex flex-row justify-content-center align-items-center">
                        <div class="main-right-ico me-3">1</div>
                        <div class="main-right-txt">Мы превращаем ваши стратегии в программные системы и технологические процессы, которые оптимизируют вашу бизнес-производительность.</div>
                    </div>
                    <div class="main-right-ico-wrp m-4 d-flex flex-row justify-content-center align-items-center">
                        <div class="main-right-ico me-3">2</div>
                        <div class="main-right-txt">Мы создаем решения, которые обеспечивают персонализированный пользовательский опыт, гарантирующий более высокую ценность.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-work-wrp p-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Наши продукты</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-4 col-sm-12 py-3 px-4">
                <div class="work-bg-ico d-flex flex-column py-3 px-4 h-100">
                    <h4 class="mt-4 mb-3">ПТК «ТИСАМ»</h4>
                    <p class="work-bg-txt">Современная высокотехнологичная платформа предоставляющая возможность наблюдать за	оборудованием, системами и конструкциями объекта в одном месте.</p>
                    <p class="work-knopka"><a href="#" class="btn-wt-md btn-mint">Подробнее</a></p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 py-3 px-4">
                <div class="work-bg-ico d-flex flex-column py-3 px-4 h-100">
                    <h4 class="mt-4 mb-3">А-ШК-УНИ-2034Р</h4>
                    <p class="work-bg-txt">Универсальный всепогодный шкаф уличного исполнения для систем мониторинга и диспетчеризации</p>
                    <p class="work-knopka"><a href="#" class="btn-wt-md btn-mint">Подробнее</a></p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 py-3 px-4">
                <div class="work-bg-ico d-flex flex-column py-3 px-4 h-100">
                    <h4 class="mt-4 mb-3">А-БЛ-1-19</h4>
                    <p class="work-bg-txt">Блок логики предназначенный для организации получения показаний с различных устройств (датчиков) по стандартным протоколам и линиям связи</p>
                    <p class="work-knopka"><a href="#" class="btn-wt-md btn-mint">Подробнее</a></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-geo-wrp">
<div class="container">
    <div class="row pt-5">
        <div class="col-12">
            <h2>География деятельности</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-center">
            <img class="w-100" src="~/img/map.png" alt=""/>
        </div>
    </div>
</div>
</div>