<div class="breadcrumbs-wrapper">
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a class="breadcrumbs__link" asp-controller="Home" asp-action="Index" itemprop="item"><span itemprop="name">Главная</span></a>
                        <meta itemprop="position" content="1">
                    </span><span class="breadcrumbs__separator"> › </span>
                    <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a class="breadcrumbs__link" asp-controller="Services" asp-action="Index" itemprop="item"><span itemprop="name">Услуги</span></a>
                        <meta itemprop="position" content="1">
                    </span><span class="breadcrumbs__separator"> › </span>
                    <span class="breadcrumbs__current">Разработка ПО</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products-header">
    <div class="container">
        <div class="row my-3">
            <div class="col-12">
                <h1 class="wt-postheader entry-title">Разработка Программного обеспечения</h1>
            </div>
        </div>
    </div>
</div>
<div class="services-wrapper">
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-12 product-annotation">
                Наша компания занимается разработкой программного обеспечения любой сложности под заказ. «Алгоритм» помогает малому и крупному бизнесу разрабатывать и развивать программное обеспечение, нацеленное на решение ряда проблем.
            </div>
        </div>
        <div class="product-paragraph mb-5">
            <div class="row mt-3 mb-3">
                <div class="col-12 product-subtitle">
                    <h3>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        Наши услуги включают в себя:
                    </h3>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_.svg" alt="" />
                    <h4 class="my-2">
                        Проектирование логики
                    </h4>
                    <p class="my-4">
                        Качественно продуманная логика программного обеспечения повышает эффективность бизнес процессов и увеличивает прибыль.
                    </p>
                </div>
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_-1.svg" alt="" />
                    <h4 class="my-2">
                        Автоматизация учета, обработки и хранения данных
                    </h4>
                    <p class="my-2">
                        Современные тенденции ведут к обработке большого количества данных, мы помогаем их автоматически обработать и обеспечить хранение.
                    </p>
                </div>
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_-2.svg" alt="" />
                    <h4 class="my-2">
                        Разработка удобных интерфейсов
                    </h4>
                    <p class="my-2">
                        Простота пользования программным интерфейсом это залог быстрого выполнения работы.
                    </p>
                </div>
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_-3.svg" alt="" />
                    <h4 class="my-2">
                        Разработка приложений на всех основных платформах
                    </h4>
                    <p class="my-2">
                        Windows, Mac, Linux, Android, iOS, Web
                    </p>
                </div>
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_-4.svg" alt="" />
                    <h4 class="my-2">
                        Разработка обмена данными
                    </h4>
                    <p class="my-2">
                        Очень важно получать актуальную информацию и отчеты вовремя, поэтому мы применяем самые актуальные методы передачи данных: TCP/IP, Email, CMC, Телефония
                    </p>
                </div>
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_-5.svg" alt="" />
                    <h4 class="my-2">
                        IT-Аутсорсинг
                    </h4>
                    <p class="my-2">
                        Для повышения качества и эффективности предприятий мы берем на себя необходимые функции IT-департаментов организаций.
                    </p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12 d-flex flex-row justify-content-center align-content-center">
                    <a href="#modal_call_me" class="btn-wt-lg btn-mint" data-bs-toggle="modal" data-bs-target="#modal_call_me" style="font-size: 16px">
                        Получить консультацию
                    </a>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="development-wrapper">
                        <div class="row">
                            <div class="col-lg-6 col-12 d-flex flex-column align-items-center justify-content-center px-5 my-2">
                                <img src="~/img/ilstr_develop.svg" alt="" />
                            </div>
                            <div class="col-lg-6 col-12 d-flex flex-column  align-items-start justify-content-center px-5 my-2">
                                <h3>Анализ и оцифровка данных</h3>
                                <ol class="development-list">
                                    <li>
                                        Мы превращаем ваши стратегии в программные системы и технологические процессы, которые оптимизируют вашу бизнес-производительность.
                                    </li>
                                    <li>
                                        Мы создаем программные решения, которые обеспечивают персонализированный пользовательский опыт, гарантирующий более высокую жизненную ценность.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-5 mb-3">
                <div class="col-12 product-subtitle">
                    <h3>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        Пример стоимости разработки:
                    </h3>
                </div>
            </div>
            <div class="row mt-3 px-3 py-3">
                <div class="col-lg-4 col-12 my-2 px-3">
                    <div class="developnet-service-wrapper h-100 d-flex flex-column">
                        <h3 class="flex-grow-1">Desktop приложение</h3>
                        <p>	<b>Время проекта:</b></p>
                        <ul>
                            <li><span class="gray">3 месяца</span></li>
                        </ul>
                        <p>	<b>Состав разработчиков:</b></p>
                        <ul>
                            <li><span class="gray">Front-end разработчик — 1 шт.</span></li>
                            <li><span class="gray">Back-end разработчик — 1 шт.</span></li>
                            <li><span class="gray">Проект менеджер — 1 шт.</span></li>
                        </ul>
                        <div class="price"><i class="fa-solid fa-wallet"></i> от 399 тыс.р.</div>
                        <a href="#modal_call_me" class="btn-wt-lg btn-mint" data-bs-toggle="modal" data-bs-target="#modal_call_me">Получить консультацию</a>
                    </div>
                </div>

                <div class="col-lg-4 col-12 my-2 px-3">
                    <div class="developnet-service-wrapper h-100 d-flex flex-column">
                        <h3 class="flex-grow-1">Мобильное приложение</h3>
                        <p>	<b>Время проекта:</b></p>
                        <ul>
                            <li><span class="gray">5 месяцев</span></li>
                        </ul>
                        <p>	<b>Состав разработчиков:</b></p>
                        <ul>
                            <li><span class="gray">Front-end разработчик — 1 шт.</span></li>
                            <li><span class="gray">Back-end разработчик — 1 шт.</span></li>
                            <li><span class="gray">Проект менеджер — 1 шт.</span></li>
                        </ul>
                        <div class="price"><i class="fa-solid fa-wallet"></i> от 550 тыс.р.</div>
                        <a href="#modal_call_me" class="btn-wt-lg btn-mint" data-bs-toggle="modal" data-bs-target="#modal_call_me">Получить консультацию</a>

                    </div>
                </div>

                <div class="col-lg-4 col-12 my-2 px-3">
                    <div class="developnet-service-wrapper h-100 d-flex flex-column">
                        <h3 class="flex-grow-1">Web сайт, портал, лендинг</h3>
                        <p>	<b>Время проекта:</b></p>
                        <ul>
                            <li><span class="gray">3 месяца</span></li>
                        </ul>
                        <p>	<b>Состав разработчиков:</b></p>
                        <ul>
                            <li><span class="gray">Front-end разработчик — 1 шт.</span></li>
                            <li><span class="gray">Дизайнер — 1 шт.</span></li>
                            <li><span class="gray">Проект менеджер — 1 шт.</span></li>
                        </ul>
                        <div class="price"><i class="fa-solid fa-wallet"></i> от 49 тыс.р.</div>
                        <a href="#modal_call_me" class="btn-wt-lg btn-mint" data-bs-toggle="modal" data-bs-target="#modal_call_me">Получить консультацию</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="services-wrapper development-types-wrapper">
    <div class="container">
        <div class="row mt-5 pt-5 mb-3">
            <div class="col-12 product-subtitle">
                <h3>
                    <i class="fa-solid fa-circle-chevron-right"></i>
                    Типы приложений
                </h3>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-3 col-12 my-2">
                <div class="po-icon-inner">
                    Корпоративные<br>системы<p></p>
                </div>
            </div>
            <div class="col-md-3 col-12 my-2">
                <div class="po-icon-inner">
                    Мобильные<br>приложения<p></p>
                </div>
            </div>
            <div class="col-md-3 col-12 my-2">
                <div class="po-icon-inner">
                    Desktop<br>приложения<p></p>
                </div>
            </div>
            <div class="col-md-3 col-12 my-2">
                <div class="po-icon-inner">
                    Базы данных<p></p>
                </div>
            </div>
            <div class="col-md-3 col-12 my-2">
                <div class="po-icon-inner">
                    Модули сопряжения различных систем<p></p>
                </div>
            </div>
            <div class="col-md-3 col-12 my-2">
                <div class="po-icon-inner">
                    IOT решения (разработка протоколов обмена информацией)<p></p>
                </div>
            </div>
            <div class="col-md-3 col-12 my-2">
                <div class="po-icon-inner">
                    Системы оповещения смс, телефония, чаты, боты, Email<p></p>
                </div>
            </div>
            <div class="col-md-3 col-12 my-2">
                <div class="po-icon-inner">
                    Web сайты, порталы, лендинги, магазины<p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-wrapper my-5">
    <div class="container">
        <div class="row my-5 pt-3">
            <div class="col-12">
                <h2 class="main-primer-h">Примеры выполненных работ</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row development-example-slide px-5">
                                <div class="col-md-3 col-12 d-flex flex-column justify-content-center">
                                    <img src="~/img/image 31.png" alt="" />
                                </div>
                                <div class="col-md-9 col-12">
                                    <div class="development-example-slide-content d-flex flex-column justify-content-center p-5 h-100">
                                        <h3>Разработка системы определения токсичных веществ</h3>
                                        <p>
                                            Разработка системы взаимодействия между контроллерами отвечающими за анализ токсичных веществ в воздушной среде с последующим построением графической карты наличия опасных веществ. 
                                            Нами была разработана прошивка для микроконтроллеров, а так же графическая оболочка позволяющая определить местонахождение, концентрацию опасных веществ на карте объекта
                                        </p>
                                        <a href="#" class="btn-wt-md btn-mint align-self-start mt-2">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row development-example-slide px-5">
                                <div class="col-md-3 col-12 d-flex flex-column justify-content-center">
                                    <img src="~/img/image 31.png" alt="" />
                                </div>
                                <div class="col-md-9 col-12">
                                    <div class="development-example-slide-content d-flex flex-column justify-content-center p-5 h-100">
                                        <h3>Система регистрации уведомлений и событий</h3>
                                        <p>
                                            Система регистрации уведомлений и событий на предприятии. Система позволяет обрабатывать уведомления и регистрировать события принимаемые от операторов на производстве, требующие обязательной обработки принятия решений. 
                                            Система активно используется для анализа проходящего на крупном предприятии.
                                        </p>
                                        <a href="#" class="btn-wt-md btn-mint align-self-start mt-2">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row development-example-slide px-5">
                                <div class="col-md-3 col-12 d-flex flex-column justify-content-center">
                                    <img src="~/img/image 31.png" alt="" />
                                </div>
                                <div class="col-md-9 col-12">
                                    <div class="development-example-slide-content d-flex flex-column justify-content-center p-5 h-100">
                                        <h3>Саранский Аэропорт, внедрение ПТК «Горизонт»</h3>
                                        <p>
                                           При строительстве нового терминала в Саранском аэропорту был внедрен программно технический комплекс «Горизонт», а так же было реализовано сопряжение с системой СМИС Главного управления МЧС России по Республике Мордовия.
                                        </p>
                                        <a href="#" class="btn-wt-md btn-mint align-self-start mt-2">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row development-example-slide px-5">
                                <div class="col-md-3 col-12 d-flex flex-column justify-content-center">
                                    <img src="~/img/image 31.png" alt="" />
                                </div>
                                <div class="col-md-9 col-12">
                                    <div class="development-example-slide-content d-flex flex-column justify-content-center p-5 h-100">
                                        <h3>Мониторинг движения изготавливаемой продукции</h3>
                                        <p>
                                           Программный комплекс для мониторинга движения изготавливаемой продукции на предприятии путем штрихкодирования.
                                        </p>
                                        <a href="#" class="btn-wt-md btn-mint align-self-start mt-2">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev carousel-wt-control" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next carousel-wt-control" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script src="https://kit.fontawesome.com/4a4d023532.js" crossorigin="anonymous"></script>
    }