<div class="breadcrumbs-wrapper">
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a class="breadcrumbs__link" asp-controller="Home" asp-action="Index" itemprop="item"><span itemprop="name">Главная</span></a>
                        <meta itemprop="position" content="1">
                    </span><span class="breadcrumbs__separator"> › </span>
                    <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a class="breadcrumbs__link" asp-controller="Services" asp-action="Index" itemprop="item"><span itemprop="name">Услуги</span></a>
                        <meta itemprop="position" content="1">
                    </span><span class="breadcrumbs__separator"> › </span>
                    <span class="breadcrumbs__current">Разработка ПО</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products-header">
    <div class="container">
        <div class="row my-3">
            <div class="col-12">
                <h1 class="wt-postheader entry-title">Разработка Программного обеспечения</h1>
            </div>
        </div>
    </div>
</div>

<div class="services-wrapper">
    <div class="container">
        <div class="row mt-3 mb-5">
            <div class="col-12 product-annotation">
               Наша компания занимается разработкой программного обеспечения любой сложности под заказ. «Алгоритм» помогает малому и крупному бизнесу разрабатывать и развивать программное обеспечение, нацеленное на решение ряда проблем.
            </div>
        </div>
        <div class="product-paragraph mb-5">
            <div class="row mt-3 mb-3">
                <div class="col-12 product-subtitle">
                    <h3>
                        <i class="fa-solid fa-circle-chevron-right"></i>
                        Наши услуги включают в себя:
                    </h3>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_.svg" alt="" />
                    <h4 class="my-2">
                        Проектирование логики
                    </h4>
                    <p class="my-4">
                        Качественно продуманная логика программного обеспечения повышает эффективность бизнес процессов и увеличивает прибыль.
                    </p>
                </div>
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_-1.svg" alt="" />
                    <h4 class="my-2">
                        Автоматизация учета, обработки и хранения данных
                    </h4>
                    <p class="my-2">
                        Современные тенденции ведут к обработке большого количества данных, мы помогаем их автоматически обработать и обеспечить хранение.
                    </p>
                </div>
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_-2.svg" alt="" />
                    <h4 class="my-2">
                        Разработка удобных интерфейсов
                    </h4>
                    <p class="my-2">
                        Простота пользования программным интерфейсом это залог быстрого выполнения работы.
                    </p>
                </div>
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_-3.svg" alt="" />
                    <h4 class="my-2">
                        Разработка приложений на всех основных платформах
                    </h4>
                    <p class="my-2">
                        Windows, Mac, Linux, Android, iOS, Web
                    </p>
                </div>
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_-4.svg" alt="" />
                    <h4 class="my-2">
                        Разработка обмена данными
                    </h4>
                    <p class="my-2">
                        Очень важно получать актуальную информацию и отчеты вовремя, поэтому мы применяем самые актуальные методы передачи данных: TCP/IP, Email, CMC, Телефония
                    </p>
                </div>
                <div class="col-md-4 product-icon-item d-flex flex-column align-items-center justify-content-start">
                    <img class="my-3" src="~/img/icn_develop_-5.svg" alt="" />
                    <h4 class="my-2">
                        IT-Аутсорсинг
                    </h4>
                    <p class="my-2">
                        Для повышения качества и эффективности предприятий мы берем на себя необходимые функции IT-департаментов организаций.
                    </p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12 d-flex flex-row justify-content-center align-content-center">
                    <a href="#" class="btn-wt-lg btn-mint" style="font-size: 16px">
                        Получить консультацию
                    </a>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="development-wrapper">
                        <div class="row">
                            <div class="col-md-6 col-12 d-flex flex-column align-items-center justify-content-center px-5">
                                <img src="~/img/ilstr_develop.svg" alt="" />
                            </div>
                            <div class="col-md-6 col-12 d-flex flex-column  align-items-start justify-content-center px-5">
                                <h3>Анализ и оцифровка данных</h3>
                                <ol class="development-list">
                                    <li>
                                        Мы превращаем ваши стратегии в программные системы и технологические процессы, которые оптимизируют вашу бизнес-производительность.
                                    </li>
                                    <li>
                                        Мы создаем программные решения, которые обеспечивают персонализированный пользовательский опыт, гарантирующий более высокую жизненную ценность.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script src="https://kit.fontawesome.com/4a4d023532.js" crossorigin="anonymous"></script>
    }