<div class="breadcrumbs-wrapper">
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a class="breadcrumbs__link" asp-controller="Home" asp-action="Index" itemprop="item"><span itemprop="name">Главная</span></a>
                        <meta itemprop="position" content="1">
                    </span><span class="breadcrumbs__separator"> › </span>
                    <span class="breadcrumbs__current">Услуги</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products-header">
    <div class="container">
        <div class="row my-3">
            <div class="col-12">
                <h1 class="wt-postheader entry-title">Услуги</h1>
            </div>
        </div>
    </div>
</div>

<div class="services-wrapper">
    <div class="container">
        <div class="row mt-3 mb-5">

            <div class="col-md-4 col-sm-12 px-3 my-3">
                <div class="services-ico d-flex flex-column align-items-center justify-content-center px-3 py-5 h-100" onclick="location.href='/Services/Development'">
                    <img class="my-3" src="~/img/icn_service_03.svg" alt="" />
                    <p></p>
                    <h4>Разработка ПО</h4>
                    <p>
                        Наша компания занимается разработкой программного обеспечения любой сложности под заказ.
                        «Алгоритм» помогает малому и крупному бизнесу разрабатывать и развивать программное обеспечение, нацеленное на решение ряда проблем.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 px-3 my-3">
                <div class="services-ico d-flex flex-column align-items-center justify-content-center px-3 py-5 h-100" onclick="location.href='/Services/Integration'">
                    <img class="my-3" src="~/img/icn_service_02.svg" alt="" />
                    <p></p>
                    <h4>Системная интеграция</h4>
                    <p>
                       Мы занимается интеграцией собственных продуктов в неорганизованные системы предприятий малого и крупного бизнеса для улучшения различных показателей эффективности и качества.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 px-3 my-3">
                <div class="services-ico d-flex flex-column align-items-center justify-content-center px-3 py-5 h-100" onclick="location.href='/Services/Support'">
                    <img class="my-3" src="~/img/icn_service_01.svg" alt="" />
                    <p></p>
                    <h4>Техподдержка и обслуживание</h4>
                    <p>
                       Современные программно аппаратные комплексы относятся к классу сложных систем, на обслуживание которые требуется высококвалифицированные сотрудники, не всегда в штате компании они есть.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 px-3 my-3">
                <div class="services-ico d-flex flex-column align-items-center justify-content-center px-3 py-5 h-100" onclick="location.href='/Services/Monitoring'">
                    <img class="my-3" src="~/img/icn_service_04.svg" alt="" />
                    <p></p>
                    <h4>Системы мониторинга</h4>
                    <p>
                        Алгоритм помогает малому и крупному бизнесу разрабатывать и развивать программное обеспечение, нацеленное на решение ряда проблем производительности и масштабируемости.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 px-3 my-3">
                <div class="services-ico d-flex flex-column align-items-center justify-content-center px-3 py-5 h-100" onclick="location.href='/Services/Dispatching'">
                    <img class="my-3" src="~/img/icn_service_05.svg" alt="" />
                    <p></p>
                    <h4>Системы автоматизации и диспетчеризации</h4>
                    <p>
                        Алгоритм помогает малому и крупному бизнесу разрабатывать и развивать программное обеспечение, нацеленное на решение ряда проблем производительности и масштабируемости.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 px-3 my-3">
                <div class="services-ico d-flex flex-column align-items-center justify-content-center px-3 py-5 h-100" onclick="location.href='/Services/Alerts'">
                    <img class="my-3" src="~/img/icn_service_06.svg" alt="" />
                    <p></p>
                    <h4>Системы оповещения и управления эвакуацией</h4>
                    <p>
                        Алгоритм помогает малому и крупному бизнесу разрабатывать и развивать программное обеспечение, нацеленное на решение ряда проблем производительности и масштабируемости.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>