<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Algo</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Algo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/scss/custom.bootstrap.min.css" />

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-green">
            <div class="container d-flex flex-wrap justify-content-md-center justify-content-xs-between align-items-center">
                <a href="/"><img src="/img/logo.png" class="mainlogo m-3"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center flex-wrap">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-center">
                        <li class="menu-item m-2">
                            <a class="menu-item-link" active-route-check="true" asp-controller="Home" asp-action="Index">О нас</a>
                        </li>
                        <li class="menu-item m-2">
                            <a class="menu-item-link" active-route-check="true" asp-controller="Home" asp-action="Products">Наши продукты</a>
                        </li>
                        <li class="menu-item m-2">
                            <a class="menu-item-link" active-route-check="true" asp-controller="Home" asp-action="Portfolio">Портфолио</a>
                        </li>
                        <li class="menu-item m-2">
                            <a class="menu-item-link" active-route-check="true" asp-controller="Home" asp-action="Services">Услуги</a>
                        </li>
                        <li class="menu-item m-2">
                            <a class="menu-item-link" active-route-check="true" asp-controller="Home" asp-action="Contacts">Контакты</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-0 d-flex flex-column align-items-md-end">
                        <li class="menu-contact-tel">
                            <a href="">+7 (861) 217-61-67</a>
                        </li>
                        <li class="menu-contact-action">
                            <a class="menu-item-link" asp-area="" asp-controller="Home" asp-action="Index">Получить консультацию</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer class="wt-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="wt-nav d-flex flex-row align-items-center justify-content-between p-5">
                        <a href="/"><img src="/img/logo.png" class="mainlogo"></a>
                        <div class="">
                            <a class="m-2" href="/">О нас</a>
                            <a class="m-2" href="/?page_id=13">Наши продукты</a>
                            <a class="m-2" href="/?page_id=15">Услуги</a>
                            <a class="m-2" href="/?page_id=463">Портфолио</a>
                            <a class="m-2" href="/?page_id=19">Контакты</a>
                        </div>
                        <div class="foo-soc">
                            <a href=""><img src="/wp-content/uploads/2018/10/fb.png" alt=""></a>
                            <a href=""><img src="/wp-content/uploads/2018/10/vk.png" alt=""></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
