@{
    //ViewData["Title"] = "Наши продукты";
}

<div class="breadcrumbs-wrapper">
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <span itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a class="breadcrumbs__link" asp-controller="Home" asp-action="Index" itemprop="item"><span itemprop="name">Главная</span></a>
                        <meta itemprop="position" content="1">
                    </span><span class="breadcrumbs__separator"> › </span>
                    <span class="breadcrumbs__current">Наши продукты</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products-header">
    <div class="container">
        <div class="row my-3">
            <div class="col-12">
                <h1 class="wt-postheader entry-title">Наши продукты</h1>
            </div>
        </div>
    </div>
</div>
<div class="products-wrapper">
    <div class="container">
        <div class="product-category">
            <div class="row my-3 product-title">
                <div class="col-12">
                    <h5 class="product-title">Продукты на основе «СМИС»</h5>
                </div>
            </div>
            <div class="row my-2 product-platform align-items-center">
                <div class="col-md-2 col-12 d-flex align-items-start product-image">
                    <img src="/img/image 31.png" alt="" />
                </div>
                <div class="col-md-10 col-12 d-flex flex-column product-platform-description">
                   <h4 class="mb-3">ПТК «ТИСАМ»</h4>
                   <p>
                       Современная высокотехнологичная платформа IIoT объединяющая в себе решения по мониторингу состояния, диагностике и оптимизации систем разного типа и уровней сложности.
                   </p>
                   <a href="#" class="btn-wt-md btn-mint align-self-start">Подробнее</a>
                </div>
            </div>
            <div class="row my-2 product-platform-item align-items-center">
                <div class="col-md-2 col-12 d-flex align-items-start product-image">
                    <img src="/img/image 31.png" alt="" />
                </div>
                <div class="col-md-10 col-12 d-flex flex-column product-platform-description">
                   <h4 class="mb-3">Устройство измерения: А-УИ-1РЛ</h4>
                   <p>
                      Современная высокотехнологичная платформа IIoT объединяющая в себе решения по мониторингу состояния, диагностике и оптимизации систем разного типа и уровней сложности.
                   </p>
                   <a href="#" class="btn-wt-md btn-mint align-self-start">Подробнее</a>
                </div>
            </div>
            <div class="row my-2 product-platform-item align-items-center">
                <div class="col-md-2 col-12 d-flex align-items-start product-image">
                    <img src="/img/image 31.png" alt="" />
                </div>
                <div class="col-md-10 col-12 d-flex flex-column product-platform-description">
                   <h4 class="mb-3">Устройство измерения: А-УИ-1ПС</h4>
                   <p>
                      Современная высокотехнологичная платформа IIoT объединяющая в себе решения по мониторингу состояния, диагностике и оптимизации систем разного типа и уровней сложности.

                   </p>
                   <a href="#" class="btn-wt-md btn-mint align-self-start">Подробнее</a>
                </div>
            </div>
            <div class="row my-2 product-platform align-items-center">
                <div class="col-md-2 col-12 d-flex align-items-start product-image">
                    <img src="/img/image 31.png" alt="" />
                </div>
                <div class="col-md-10 col-12 d-flex flex-column product-platform-description">
                   <h4 class="mb-3">ПТК «Горизонт»</h4>
                   <p>
                       Современная высокотехнологичная платформа IIoT объединяющая в себе решения по мониторингу состояния, диагностике и оптимизации систем разного типа и уровней сложности.
                   </p>
                   <a href="#" class="btn-wt-md btn-mint align-self-start">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>