html {
    font-family: 'Montserrat', 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: lighter;
    font-family: 'Montserrat', 'Arial Unicode MS', Helvetica, Sans-Serif;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
}

h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.menu-item {
    font-size: 18px;
    font-family: 'Roboto', 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.menu-contact {
    font-size: 16px;
    line-height: 24px;
}